@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#overlay {
  z-index: 9999;
  position: absolute;
  background: rgba(0,0,0,0.8);
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  display: none;
}
.dont-quit, .yes-quit {
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  margin: 10px;
  font-size: 1.5em;
  cursor: pointer;
}
.dont-quit {
  background: #738EC6;
}
.yes-quit {
  background: #E74D4D;
}
#top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
#top .time-bar {
  align-self: left;
  width: 0%;
  height: 3px;
  background-color: #738EC6;
  margin-bottom: 5px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#top .top-bar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  align-items: center;
}
#top .top-bar .time {
  background: #738EC6;
  padding: 4px;
  border-radius: 2px;
}
#top .top-bar .title {
  font-weight: bold;
}
#top .top-bar .quit {
  cursor: pointer;
  background: #E74D4D;
  padding: 4px;
  border-radius: 2px;
}
#container {
  width: 90%;
  box-sizing: border-box;
}
#left, #right {
  height: 100%;
  width: 10%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
}
.question::before {
  content: 'Q. ';
  font-size: 1.5em;
  font-weight: bolder;
  color: #7DA7FC;
}
.question {
  font-family: 'Roboto', sans-serif;
}
.options {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-bottom: 50px;
}
.options span {
  display: block;
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: #fff;
  color: #000;
  margin-bottom: 10px;
  border-radius: 10px;
}
#bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #738EC6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
#bottom .left img {
  height: 100%;
  transform: rotateZ(-90deg);
}
#bottom .left {
  flex-grow: 1;
  text-align: center;
}
#bottom .right {
  flex-grow: 1;
  text-align: center;
}
#bottom .list-icon {
  text-align: center;
  flex-grow: 1;
  height: 100%;
  background-color: #566A93;
}
#bottom .right img {
  height: 100%;
  transform: rotateZ(90deg);
}
#ques-list {
  padding-top: 10px;
  position: fixed;
  top: 100%;
  min-height: 100%;
  width: 100%;
  background-color: #566A93;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-transition: 0.25s all cubic-bezier(0.71, 0.04, 0.1, 0.93);
  -moz-transition: 0.25s all cubic-bezier(0.71, 0.04, 0.1, 0.93);
  -o-transition: 0.25s all cubic-bezier(0.71, 0.04, 0.1, 0.93);
  transition: 0.25s all cubic-bezier(0.71, 0.04, 0.1, 0.93);
}
#ques-list .cross {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
#ques-list .ques-list-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}
#ques-list .ques-nums {
  width: 50%;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  flex-wrap: wrap;
}
#ques-list .ques-nums span {
  cursor: pointer;
  padding: 5px;
  font-size: 18px;
  height: 20px;
  width: 20px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #304672;
  color: #fff;
  border-radius: 50%;
}
.prev-next {
  display: none;
}

@media only screen and (min-device-width: 700px) {
  #top {
    align-self: left;
    width: 75%;
  }
  #bottom {
    display: none;
  }
  #container {
    align-self: left;
    width: 70%;
    margin-left: 2.5%;
  }
  #container .options {
    align-self: center;
  }
  #container .options span {
    cursor: pointer;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
  }
  #container .options span:hover {
    background-color: #efefef;
  }
  #ques-list {
    position: fixed;
    right: 0;
    top: 0;
    width: 25%;
  }
  #ques-list .ques-nums {
    width: 80%;
  }
  .prev-next {
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }
  .prev {
    background: #738EC6;
    padding: 10px;
    cursor: pointer;
  }
  .next {
    background: #4C5D80;
    padding: 10px;
    cursor: pointer;
  }
  #ques-list .cross {
    display: none;
  }
}